.bottomBar {
    height: 48px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 16px;
    margin-top: 16px;
}

.bottomBar > * {
    flex-shrink: 0;
}

.bottomBarButton {
    min-width: 96px;
    margin-left: 8px;
}

.bottomBarSpacer {
    flex-grow: 1;
}

.buttonWrapper {
    position: relative;
}

.connectionCard {
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-content: center;
}

.connectionCardOK {
    color: #00C853;
}

.connectionIcon {
    margin-inline-end: 8px;
}