.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px !important;
}

.icon {
	flex-shrink: 0;
	width: 36px;
	height: 36px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	flex-grow: 1;
	padding-inline-start: 12px;
}

.description span {
	float: left;
	text-align: start;
}

.descriptionSecondary {
	opacity: 0.8;
}