.message {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.separator {
	text-align: center;
	padding: 48px 8px 8px;
}

.labelSender {
	margin-left: 40px !important;
	margin-bottom: 2px !important;
}

.labelStatus {
	margin-top: 2px !important;
	text-align: end;
}

.messageSplit {
	flex-shrink: 0;
	
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

.messageParts {
	flex-grow: 1;
	margin-left: 8px;
	
	display: flex;
	flex-direction: column;
}

.messageStatus {
	margin: 1px !important;
}

.unconfirmed {
	opacity: 0.5;
}

.confirmed {
	opacity: 1;
}

.avatar {
	width: 32px !important;
	height: 32px !important;
	font-size: 14px !important;
}

.bubble {
	position: relative;
	display: inline-block;
	white-space: pre-wrap;
}

/* Dynamic-length bubble with padding */
.textBubble {
	composes: bubble;
	
	max-width: 60%;
	padding: 6px 12px !important;
}

.textBubble a {
	color: inherit;
}

/* Fixed-width bubble with no padding */
.contentBubble {
	composes: bubble;
	
	max-width: 400px;
}

.contentBubble > * {
	max-width: 100%;
}

.tapbackMargin {
	margin-bottom: 10px !important;
}

.rawErrorText {
	font-family: monospace !important;
}