.scroll {
	width: 100%;
	flex-grow: 1;
	min-height: 0;
	
	padding: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.list {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	flex-direction: column-reverse;
}

.progressContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}