.root {
	border-radius: 20px;
	overflow: hidden;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.textfield {
	font-size: 14px !important;
	padding: 10px 16px !important;
}

/* .root textarea {
	flex-grow: 1;
	display: block;
	
	background: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 12px 16px;
	
	resize: none;
	font-family: inherit;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
} */

.root button {
	flex-shrink: 0;
	align-self: flex-end;
	
	width: 40px;
	height: 40px;
}

.control {
	display: flex;
	flex-direction: row;
}

.attachmentqueue {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	
	scrollbar-width: none; /* Firefox */
}

/* Chromium */
.attachmentqueue::-webkit-scrollbar {
	display: none;
}

@media(prefers-color-scheme: dark) {
	.messageinput textarea {
		color: white;
	}
	
	.messageinput textarea::placeholder {
		color: white;
	}
}