.content {
	flex-grow: 1;
	overflow: auto;
	
	display: flex;
	flex-direction: column;
	position: relative;
}

.participantInputWrapper {
	padding: 0 16px;
}

.participantInputLayout {
	width: 100%;
	max-width: 1000px;
	margin: 16px auto;
	
	border-radius: 4px;
	
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.participantInputFlow {
	flex-grow: 1;
	
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.participantInputField {
	flex-grow: 1;
	margin: 8px 0 8px 12px;
}

.participantInputChip {
	margin: 8px 0 0 8px !important;
}

.participantInputButton {
	margin: 5.5px !important;
	flex-shrink: 0;
}

.listWrapper {
	flex-grow: 1;
	overflow: scroll;
	padding: 0 16px;
}

.list {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}

.progressContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactRoot {
	display: flex;
	flex-direction: row;
	padding-top: 16px;
}

.contactText {
	flex-grow: 1;
	padding: 0 16px;
}

.contactAddresses {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.contactButton {
	text-transform: none !important;
	margin-inline-end: 16px !important;
	text-align: start;
}

.buttonUnselected {
	opacity: 0.7;
}

.subheaderText {
	width: 40px;
	text-align: center;
	padding-top: 12px;
}

.directSendButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	border-radius: 4px;
	
	text-transform: none !important;
}

.scrim {
	z-index: 1 !important;
	transition: opacity 0.3s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.scrimShown {
	composes: scrim;
	
	opacity: 1;
}

.scrimHidden {
	composes: scrim;
	
	pointer-events: none;
	opacity: 0;
	overflow: hidden;
}