.root {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.columnContainer {
	display: flex;
	margin-top: 48px;
}

.column {
	max-width: 400px;
}

.instruction {
	display: flex;
	align-items: flex-start;
}

.instructionIcon {
	width: 64px;
	height: 64px;
}

.instructionText {
	margin-left: 24px;
}

.buttonGoogle {
	background-color: white !important;
	text-transform: none !important;
	font-weight: bold !important;
}

.root a {
	text-decoration: none;
}