.split {
	width: 100vw;
	height: 100vh;
	
	display: flex;
	align-content: stretch;
}

.splitMaster {
	flex: 1;
	height: 100%;
}

.splitDetail {
	min-width: 350px;
	max-width: 400px;
	width: 30vw;
	height: 100%;
}