.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidebarToolbar {
	padding-right: 8px !important;
}

.sidebarList {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sidebarListLoading {
	flex-grow: 1;
	overflow: hidden;
}

.skeletonMain {
	display: flex;
	flex-direction: row;
	padding: 16px;
}

.skeletonText {
	margin-left: 16px;
	flex-grow: 1;
}